In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib notebook

In [166]:
df = pd.read_csv('train.csv')
df_test = pd.read_csv('test.csv')

In [167]:
df = df.drop(['Name', 'Ticket', 'Cabin'], axis= 1).set_index('PassengerId')
df_test = df_test.drop(['Name', 'Ticket', 'Cabin'], axis= 1).set_index('PassengerId')

In [168]:
df['Age'] = df['Age'].fillna(df['Age'].median())
df_test['Age'] = df_test['Age'].fillna(df_test['Age'].median())

In [169]:
df['Embarked'] = df['Embarked'].fillna('S')
df_test['Embarked'] = df_test['Embarked'].fillna('S')

In [170]:
X_df = df.drop('Survived', axis = 1)
Y = df['Survived'].copy()

In [171]:
X_df.head()

             Pclass     Sex   Age  SibSp  Parch     Fare Embarked
PassengerId
1                 3    male  22.0      1      0   7.2500        S
2                 1  female  38.0      1      0  71.2833        C
3                 3  female  26.0      0      0   7.9250        S
4                 1  female  35.0      1      0  53.1000        S
5                 3    male  35.0      0      0   8.0500        S

In [172]:
X_df = X_df.join(pd.get_dummies(X_df[['Embarked', 'Sex']])).drop(['Embarked', 'Sex'], axis = 1)
df_test = df_test.join(pd.get_dummies(df_test[['Embarked', 'Sex']])).drop(['Embarked', 'Sex'], axis = 1)

In [173]:
df['Age'] = pd.cut(df['Age'], age_group, labels=age_label)
df = df.join(pd.get_dummies(df['Age'])).drop('Age', axis = 1)

df_test['Age'] = pd.cut(df_test['Age'], age_group, labels=age_label)
df_test = df_test.join(pd.get_dummies(df_test['Age'])).drop('Age', axis = 1)

In [174]:
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X_df, Y)

In [175]:
from sklearn.ensemble import RandomForestClassifier
clf = RandomForestClassifier()

In [176]:
clf.fit(X_train, Y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=1,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [177]:
clf.score(X_train, Y_train)

0.9760479041916168

In [178]:
clf.score(X_test, Y_test)

0.8071748878923767

In [179]:
df_test.head()

,Pclass,SibSp,Parch,Fare,Embarked_C,Embarked_Q,Embarked_S,Sex_female,Sex_male,missing,infant,child,teen,young,adult,senior
PassengerId,,,,,,,,,,,,,,,,
892,3,0,0,7.8292,0,1,0,0,1,0,0,0,0,1,0,0
893,3,1,0,7.0000,0,0,1,1,0,0,0,0,0,0,1,0
894,2,0,0,9.6875,0,1,0,0,1,0,0,0,0,0,0,1
895,3,0,0,8.6625,0,0,1,0,1,0,0,0,0,1,0,0
896,3,1,1,12.2875,0,0,1,1,0,0,0,0,0,1,0,0

In [180]:
age_group = [-1, 0, 5, 12, 18, 35, 60, 100 ]
age_label = ['missing', 'infant', 'child', 'teen', 'young', 'adult', 'senior']

In [198]:
df['Fare'].max()

512.3292

In [201]:
fare_label = ['f1', 'f2', 'f3', 'f4', 'f5', 'f6', 'f7', 'f8', 'f9', 'f10', 'f11']
fare_group = [-1., 50., 100., 150., 200., 250., 300., 350., 400., 450., 500., 550 ]

In [202]:
pd.cut(df['Fare'], fare_group, labels=fare_label)

PassengerId
1      f1
2      f2
3      f1
4      f2
5      f1
6      f1
7      f2
8      f1
9      f1
10     f1
11     f1
12     f1
13     f1
14     f1
15     f1
16     f1
17     f1
18     f1
19     f1
20     f1
21     f1
22     f1
23     f1
24     f1
25     f1
26     f1
27     f1
28     f6
29     f1
30     f1
       ..
862    f1
863    f1
864    f2
865    f1
866    f1
867    f1
868    f2
869    f1
870    f1
871    f1
872    f2
873    f1
874    f1
875    f1
876    f1
877    f1
878    f1
879    f1
880    f2
881    f1
882    f1
883    f1
884    f1
885    f1
886    f1
887    f1
888    f1
889    f1
890    f1
891    f1
Name: Fare, Length: 891, dtype: category
Categories (11, object): [f1 < f2 < f3 < f4 ... f8 < f9 < f10 < f11]

In [ ]:
df.plot.bar()